<h3>Hi <strong><%= @user.name %><strong>,</h3>

<p>We received a request to reset your password. If you did not make this request, please ignore this email.</p>
<p>To reset your password, please click the link below:</p>

<p>
<%= link_to "Reset Password", "#{@base_url}/reset_password/#{@user.reset_token}" %>
</p>

<p>This link will expire in 2 hours.</p>

<p>If you have any questions, please contact us at support@example.com</p>

<p>Thank you,</p>
<p>The Example Team</p>
